<mat-card id="digimonCard" (click)="loadDigimonCard(digimon.name)" *ngFor="let digimon of data">
    <mat-card-title id="digimonCardTitle">{{digimon.name}}</mat-card-title>
    <mat-card-subtitle>{{digimon.level}}</mat-card-subtitle>
    <div id="digimonDiv">
      <img id="digimonImage" mat-card-image src="{{digimon.img}}">
    </div>
</mat-card>

<div *ngIf="showPopup" class="digimonDetails">
  <app-popup [popupData] = "popupData" [showPopup] = "showPopup"  (closePopupEvent)="setShowPopupValue($event)"></app-popup>
</div>